/*Base styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background: #ffffff;
  color: rgb(80, 80, 80);
  line-height: 1.5;
}

.content-wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.news-section {
  background: rgb(242, 248, 248);
  padding: 10px;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 100;
  line-height: 1.2;
  font-size: medium;
  color: #2d3945;
  font-weight: bold;
}
p {
  font-weight: normal;
}

p,
legend {
  font-size: medium;
  color: #adaeaf;
}
header {
  background: #2d3945;
}

header h1 {
  color: #fff;
  padding: 15px 0;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 15px 0;
}

.intro h2,
.intro p {
  text-align: center;
}

.intro h2 {
  margin-bottom: 10px;
}

.intro p {
  margin-bottom: 30px;
}

.intro {
  border-bottom: solid #000 2px;
}

.hr {
  margin-bottom: 1px;
  border: 2px solid black;
}
fieldset {
  border: none;
}

li {
  margin: 10px 0;
}

.newsletter {
  border-top: solid black 1px;
  padding-top: 20px;
}

/*.contact {
  padding: 50px 50px 35px 50px;
}*/

.contact .contact-item {
  display: flex;
  flex-direction: column;
}

.contact-item,
.zip,
input,
textarea,
select,
button {
  margin: 10px 0;
}

#zip {
  width: 50%;
}
.contact-text {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 10px;
}

input:focus,
textarea:focus,
select:focus {
  background: #dafffd;
  transition: ease 2s;
}
button:hover {
  background: #43a19d;
  cursor: pointer;
}

::placeholder {
  text-align: right;
  font-style: italic;
  font-size: small;
}

input,
textarea,
select,
button {
  border: none;
  background: #eff0f1;
  padding: 0.75em;
  border-radius: 3px;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
}

select {
  font-size: inherit;
  font-size: 100%;
  color: #adaeaf;
}

button {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  background: #4ebbb5;
  height: 50px;
  color: #fff;
}

textarea {
  height: 15vh;
}

footer {
  text-align: center;
  font-size: small;
  font-style: italic;
  margin: 25px 0;
  height: 20vh;
}

/*Media Query*/
@media (min-width: 768px) {
  .content-wrapper {
    width: 50%;
    max-width: 1080px;
    margin: 0 auto;
  }

  .contact .contact-item {
    flex-direction: row;
    gap: 10px;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
  }

  .contact input,
  select {
    flex-grow: 1;
    flex-basis: 75%;
  }

  .contact label {
    flex-basis: 25%;
    height: 50px;
    margin: auto 0;
    padding-top: 15px;
    min-width: 120px;
  }
  #zip {
    max-width: 25%;
  }
}
